<h3>Cars Table</h3>
<label><input type="checkbox" [(ngModel)]="bindData">Bind Data</label><br />
Columns:
<label><input type="checkbox" [(ngModel)]="showColor" />Color</label>
<label><input type="checkbox" [(ngModel)]="showYear" />Year</label>
<label><input type="checkbox" [(ngModel)]="showNotes" />Notes</label>
<br /><br />
<i>*NOTES column does not support left click.</i>
<br /><br />
<app-grid [value]="bindData ? cars : []"
          emptyMessageText="No cars found."
          (rowClick)="onRowClick($event)">
    <app-column headerText="BRAND"
                dataField="brand"
                colCssClass="widthFixed200"></app-column>    
    <app-column *ngIf="showColor"
                headerText="COLOR"
                dataField="color"
                colCssClass="widthFixed100"></app-column>
    <app-column *ngIf="showYear"
                headerText="YEAR"
                dataField="year"
                colCssClass="widthFixed50"
                thCssClass="textDecorationUnderline"
                tdCssClass="textAlignRight" ></app-column>
    <app-column *ngIf="showNotes"
                headerText="NOTES"
                dataField="notes"
                colCssClass="widthFixed200"
                [clickEnabled]="false"></app-column>
</app-grid>
<br /><br />
Last Row Clicked: {{ lastRowClick | json }}
<br /><br />

<h3>Format Test Table</h3>
<app-grid [value]="formatTableValues">
      <app-column headerText="DATE"
                  dataField="dateValue"
                  formatType="date"></app-column>
      <app-column headerText="TEXT (UPPER)"
                  dataField="textValue"
                  formatType="uppercase"></app-column>
      <app-column headerText="TEXT (REVERSE)"
                  dataField="textValue"
                  formatType="reverse"></app-column>
</app-grid>