/* You can add global styles to this file, and also import other style files */

.widthAuto { width: auto; }
.width50 { width: 50%; }
.width25 { width: 25%; }

.widthFixed500 { width: 500px; }

.textAlignRight { text-align: right; }

.textDecorationUnderline { text-decoration: underline; }